.landing-background {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/images/darkroad-on-forest.jpg);
  background-position: left;
  background-size: cover;
  padding: 1rem 10%;

  .navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger-icon {
    }

    .logo-section {
      display: flex;
      align-items: center;
      .logo {
        p {
          padding: 10px;
          background-color: #74b81f;
          border-radius: 50%;
          font-weight: bold;
        }
      }
      .logo-text {
        padding-left: 10px;
        h1 {
          padding-bottom: 0.15rem;
          font-weight: 500;
          font-size: 0.8em;
        }
        h2 {
          font-size: 0.6em;
        }
      }
    }
  }

  .landing-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    .presentation {
      margin-bottom: 1rem;
      strong {
        font-weight: bold;
        color: #74b81f;
      }
    }

    .sub-title {
      margin-bottom: 1.5rem;
      font-size: 1.2em;
      font-weight: 600;
    }

    .description {
      font-weight: 400;
      font-size: 0.7em;
      line-height: 1.3;
      margin-bottom: 2rem;
    }

    .buttons {
      .green-button {
        background-color: #74b81f;
      }

      button {
        padding: 0.5rem 1.5rem;
        color: #fff;
        background-color: #222;
        border: none;
        margin-right: 10%;
      }
    }
  }
}
