.landing-background {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/images/road-on-forest.jpg);
  background-position: left;
  background-size: cover;
  filter: brightness(60%);
}
