@use '../../../styles/vars';

.menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$white;
  transition: all 0.5s;

  &.closed {
    left: 100vw;
  }

  .closeMenuIcon {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .link-list {
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .list-item:hover {
        .list-item-link {
          color: vars.$green;
        }
      }
    }
  }
}
