@use '../../styles/vars';

.about {
  background-color: vars.$white;
  padding: 0 10%;

  &-content {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;

    .text {
      margin-bottom: 3rem;
      h2 {
        display: inline-block;
        color: vars.$green;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0.2rem;
        border-bottom: 2px solid vars.$green;
        margin-bottom: 2rem;
      }

      p {
        color: vars.$dark-grey;
        font-size: 0.7em;
        margin-bottom: 1rem;
        line-height: 1.5;
        font-weight: 400;
      }

      .media-icons {
        display: flex;
        i {
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: vars.$green;
          color: vars.$white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 0.8em;
        }
      }
    }
    .image-section {
      display: flex; // image section centred
      justify-content: center;
      // position: relative; // image section aligned on left
      // left: 20px;
      .green-border {
        border: 5px solid vars.$green;
        width: 70%;
        .image {
          transform: scale(1.04);
          max-width: 100%;
          position: relative;
          top: 20px;
          right: 20px;
        }
      }
    }
  }
}
