@use '../../styles/vars';

.contact {
  background-color: vars.$grey-background;
  padding: 0 10%;

  &-content {
    padding: 4rem 0;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      h2 {
        display: inline-block;
        color: vars.$green;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0.2rem;
        border-bottom: 2px solid vars.$green;
      }

      .logos {
        display: flex;
        a {
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: vars.$green;
          color: vars.$white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 0.8em;
        }
      }
    }

    form {
      width: 100%;

      input {
        padding: 0.5rem 1rem;
        width: 100%;
        border: 1px solid rgba($color: #5e5e5e, $alpha: 0.6);
        margin-bottom: 1rem;
        background-color: transparent;
        font-size: 0.8em;
        font-family: "Roboto Slab", serif;
        font-weight: 300;

        &:focus {
          outline: auto 1px vars.$green;
        }

        &::placeholder {
          font-family: "Roboto Slab", serif;
          font-weight: 300;
        }
      }

      textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: 130px;
        padding: 0.5rem 1rem;
        font-size: 0.8em;
        margin-bottom: 1rem;
        border-radius: 0;
        border: 1px solid rgba($color: #5e5e5e, $alpha: 0.6);
        font-family: "Roboto Slab", serif;
        font-weight: 300;

        &:focus {
          outline-color: vars.$green;
        }

        &::placeholder {
          font-family: "Roboto Slab", serif;
          font-weight: 300;
        }
      }

      .submit-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          background-color: vars.$green;
          color: vars.$white;
          border: none;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .contact {
    padding: 1rem 15%;
  }
}

@media (min-width: 1200px) {
  .contact {
    padding: 1rem 20%;
  }
}
