@use '../../styles/vars';

.navbar {
  background-color: transparent;
  transition: all 0.3s;
  width: 100%;
  padding: 0.7rem 2rem;
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  color: vars.$white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.scrolled {
    background-color: #f9f9f9;
    box-shadow: 4px 0px 8px 2px rgba(0, 0, 0, 0.3);

    .logo-text {
      color: vars.$dark-grey;
    }

    .burger-icon {
      color: vars.$green;
    }
  }

  .burger-icon {
    transition: all 0.3s;
    font-size: 1.2em;
  }

  .logo-section {
    display: flex;
    align-items: center;
    .logo {
      p {
        padding: 9.2px;
        font-size: 1.3em;
        background-color: vars.$green;
        border-radius: 50%;
        font-weight: bold;
      }
    }
    .logo-text {
      transition: all 0.3s;
      padding-left: 10px;
      h1 {
        padding-bottom: 0.15rem;
        font-weight: 500;
        font-size: 1em;
      }
      h2 {
        font-size: 0.8em;
      }
    }
  }
}
