@use '../../styles/vars';

.projectDetail {
  margin-top: 5rem;
  min-width: 100vw;
  min-height: calc(100vh -6rem);

  &-content {
    padding: 0 10%;

    .section-title {
      display: inline-block;
      color: vars.$green;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0.2rem;
      border-bottom: 2px solid vars.$green;
      margin-bottom: 2rem;
    }

    .project-description {
      font-size: 0.8em;
      line-height: 1.5;
    }
  }
}
