@use '../../styles/vars';

.projectDetail {
  margin-top: 6rem;
  min-width: 100vw;
  min-height: calc(100vh -6rem);

  &-content {
    padding: 0 10%;

    .infos-header {
      display: inline-flex;
      align-items: center;
      margin-bottom: 2rem;
      padding-bottom: 0.2rem;
      border-bottom: 2px solid vars.$green;
      margin-right: 0.2rem;
      color: vars.$green;

      .section-title {
        color: vars.$green;
        text-transform: uppercase;
        font-weight: 700;
      }

      i {
        padding-right: 0.2rem;
      }
    }

    .technos {
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .techno {
        background-color: vars.$green;
        border-radius: 25px;
        padding: 10px;
        color: white;
        margin-right: 10px;
        margin-bottom: 0.7rem;
      }
    }

    h3 {
      display: inline-block;
      color: vars.$green;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0.2rem;
      border-bottom: 2px solid vars.$green;
      font-size: 0.8em;
      margin-bottom: 1rem;
    }

    img {
      margin-bottom: 2rem;
    }

    .project-description {
      font-size: 0.8em;
      line-height: 1.5;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 750px) {
  .projectDetail {
    padding: 0 15%;
  }
}

@media (min-width: 1200px) {
  .projectDetail {
    display: flex;
    align-items: center;
    padding: 4rem 15%;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        width: 50%;
      }
      .image-section {
        width: 45%;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
